.layout-contact {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #fff;
  padding: 20px 0px;
  position: relative;
}

.container-content-dashboard {
  display: flex;
  width: 100%;
}

.input-search .ant-input {
  border: none !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-left: 0px;
}

.input-search .ant-input::placeholder {
  color: rgba(0, 0, 0, 1);
}

.input-search .ant-btn {
  border: none !important;
}

.wrapper-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  background-color: #f2f9f9;
}

.input-select {
  border: 1px solid #55988d !important;
  border-radius: 20px !important;
  width: 100px;
  max-width: 183px;
}

.input-select .ant-select-selector {
  border: 1px solid #55988d !important;
  border-radius: 20px !important;
  width: 100px;
  max-width: 183px;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border: 1px solid #55988d !important;
  border-radius: 20px !important;
  max-width: 183px;
}

.ant-list-header {
  padding: 0px 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  height: 24px;
  background-color: #f2f9f9;
  text-transform: uppercase;
}

.tab-list {
  width: 100%;
}

.tab-list .ant-tabs-nav {
  padding: 0px 20px;
  margin-bottom: 0px;
  background: #fff;
}

.wrap-text-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-right: 5px;
}
.tag-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;

  position: static;
  width: 50px;
  height: 31px;
  left: 171px;
  top: 2.5px;
  color: #fff;
  background: #f47e28;
  border-radius: 5px;
}

.paragraph-1 {
  position: static;
  height: 51px;
  left: 20px;
  top: 60px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 138.19%;
  /* or 17px */

  text-align: center;

  color: rgba(0, 0, 0, 0.7);

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0px;
}

.btn-add {
  position: absolute;
  right: 20px;
  bottom: 54px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-add:hover,
.btn-add:active {
  background-color: #55988d;
}

/* start modal add customer */

.ant-modal,
.ant-modal-content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0;
}
.ant-modal-body {
  height: calc(100vh - 110px);
}

.btn-save-modal {
  cursor: pointer;
  color: rgba(85, 152, 141, 1);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.ant-modal-close .ant-modal-close-x {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-save-modal:hover,
.btn-save-modal:active {
  cursor: pointer;
  color: rgba(85, 152, 141, 1);
  font-weight: bold;
  background: rgba(85, 152, 141, 0.1);
  border-radius: 8px;
}
/* end modal create customer */

/* start modal detail customer */

.header-subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px;
  color: #000000;
}

.header-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.modal-action {
  height: 98px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.icon-actions {
  margin: 0px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-modal-body {
  padding: 0px;
}

.ant-card-body {
  padding: 7px 12px;
  min-height: 63px;
}

.tag-card {
  width: 111px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  border-radius: 5px;
  background: rgba(85, 152, 141, 0.3);
}

.title-card {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
}

.subtitle-card {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 5px;
}

/* end modal detail customer */
